In [193]:
import pandas as pd  #package for data manipulation and analysis
import numpy as np  #package for scientific computing
import matplotlib.pyplot as plt #plotting library 

from sklearn.metrics import accuracy_score
from sklearn import datasets
from sklearn.ensemble import GradientBoostingRegressor  #GBM algorithm

#"matplotlib inline" allow to choose where our plot will output (within the note book or outside(inline))
%matplotlib inline

# Importing files

In [65]:
title_ratings  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/title_ratings.tsv', sep="\t")
title_crew  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/title_crew.tsv', sep="\t")
title_episode  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/title_episode.tsv', sep="\t")
title_akas  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/title_akas.txt', delimiter="\t",error_bad_lines=False)

In [3]:
name_basics  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/name_basics.tsv', sep="\t")
title_basics  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/title_basics.tsv', sep="\t")
Title_principals  = pd.read_csv('/cdsg/model/dev/emea/russia/app/17RS02/My_python_training/Title_principals.tsv', sep="\t")

/opt/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
title_ratings.shape
title_crew.shape
title_episode.shape
title_akas.shape
name_basics.shape
Title_principals.shape
title_basics.shape

In [ ]:
title_ratings.head()
title_basics.head()
name_basics.head()
Title_principals.head()
title_akas.head()
title_basics.head()

# Target statistics:Model prediction - average movie rating

Variables types in title_ratings

In [15]:
title_ratings.dtypes 
#title_ratings['averageRating'].value_counts()

tconst            object
averageRating    float64
numVotes           int64
dtype: object

relplacing \N by nan

In [66]:
title_ratings1 = title_ratings.replace('\N', np.nan)

In [67]:
title_ratings1.describe()

       averageRating      numVotes
count  958632.000000  9.586320e+05
mean        6.900907  9.650228e+02
std         1.400554  1.563950e+04
min         1.000000  5.000000e+00
25%         6.100000  9.000000e+00
50%         7.100000  2.000000e+01
75%         7.900000  7.700000e+01
max        10.000000  2.119675e+06

Quantiles on average rating

In [20]:
quant = title_ratings1['averageRating'].quantile([0, 0.1,0.25, 0.50, 0.75, 0.95, 0.99, 1])
print quant

0.00     1.0
0.10     5.0
0.25     6.1
0.50     7.1
0.75     7.9
0.95     8.8
0.99     9.5
1.00    10.0
Name: averageRating, dtype: float64

In [68]:
title_ratings1['averageRating'].value_counts()

7.2    34486
7.8    32955
7.0    32623
7.6    32189
7.4    32011
6.8    30121
8.0    30108
7.3    28956
7.7    28758
7.5    28689
7.1    27574
8.2    26669
6.6    25819
7.9    25705
6.9    24776
8.1    24378
6.7    24239
6.4    23651
6.2    22666
6.5    21910
6.3    19750
6.0    19737
8.3    19519
8.4    18825
5.8    16913
6.1    16751
8.5    15647
8.6    15154
5.9    14154
5.6    13554
       ...
3.4     2197
3.5     2060
9.5     2044
3.2     1877
9.8     1750
3.3     1738
3.0     1576
9.7     1549
2.8     1436
3.1     1404
2.9     1104
2.6     1041
1.0      999
2.7      982
2.5      841
2.4      832
2.2      763
2.3      753
2.0      656
2.1      599
1.8      470
9.9      446
1.9      445
1.6      416
1.7      405
1.4      296
1.5      275
1.2      250
1.1      230
1.3      218
Name: averageRating, Length: 91, dtype: int64

# "Title_crew" table

In [48]:
title_crew.dtypes

tconst       object
directors    object
writers      object
dtype: object

Replacing \N by nan

In [76]:
title_crew1 = title_crew.replace('\N', np.nan)
#print title_crew1

In [74]:
#title_crew1['directors'].value_counts()
title_crew1['writers'].value_counts()

nm0417224                                                      5422
nm0006724,nm0512728                                            4600
nm0914844                                                      4557
nm3064446,nm3052538                                            3548
nm0163210                                                      3079
nm0341311                                                      2737
nm8996518,nm7006227,nm6908651,nm9115585,nm9115586,nm9115584    2710
nm0297742                                                      2676
nm0633202                                                      2644
nm5378778,nm2097520,nm4029150,nm2814611,nm4030057              2451
nm0722865                                                      2448
nm1853938,nm2276735                                            2375
nm1368206,nm1644621                                            2359
nm0068589                                                      2019
nm0001468                                                      1851
nm1041858                                                      1839
nm10757708,nm6427508                                           1802
nm1033267,nm1033349                                            1787
nm7149567                                                      1765
nm0912726                                                      1763
nm1340699                                                      1734
nm3128158,nm9828406                                            1732
nm1865788,nm8453064,nm10103938                                 1704
nm0896874                                                      1697
nm4829756                                                      1683
nm0308318                                                      1645
nm7370686                                                      1595
nm0586035                                                      1554
nm1282374,nm1293423                                            1548
nm8042385,nm9957701                                            1517
                                                               ...
nm2992029,nm0794106,nm0243019,nm2642918,nm9069579                 1
nm0955417,nm1595340                                               1
nm2950350                                                         1
nm9766717                                                         1
nm0317605                                                         1
nm3691417                                                         1
nm0076363,nm0199498,nm0199752,nm0543733,nm0900098                 1
nm4680909,nm4649581,nm3626646,nm5340472                           1
nm0319213,nm0332467,nm1430258                                     1
nm0553916,nm0146873,nm0553912,nm0332417,nm0744410,nm0502391       1
nm0221512,nm0954804                                               1
nm1939860,nm1943707                                               1
nm1304676,nm1729322                                               1
nm7127682                                                         1
nm9022536                                                         1
nm0323937,nm5261341                                               1
nm5069558                                                         1
nm0485137,nm0936508                                               1
nm7741794,nm7741795                                               1
nm0519133,nm0550798                                               1
nm1918529                                                         1
nm9859924,nm7821061,nm4872740                                     1
nm2112267,nm4306389,nm3326174,nm3324055                           1
nm3016325                                                         1
nm0506625                                                         1
nm0104377                                                         1
nm0002192,nm0379150,nm0725420                                     1
nm0104373                                                         1
nm2929016                                                         1
nm0000636,nm0040644                                               1
Name: writers, Length: 970203, dtype: int64

Replacing the missing values by the most common value

In [77]:
title_crew1['directors'].fillna('nm0565214', inplace=True) #
title_crew1['writers'].fillna('nm0417224', inplace=True)

# title_akas table

In [49]:
title_akas.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

Replacing \N by nan

In [79]:
title_akas1 = title_akas.replace('\N', np.nan)
#print title_akas

In [85]:
title_akas1['isOriginalTitle'].value_counts()

0    2936480
0     367169
1     338190
1      55068
Name: isOriginalTitle, dtype: int64

Replacing the missing values by the most common value

In [86]:
title_akas1['title'].fillna('Episode #1.1', inplace=True) #
title_akas1['region'].fillna('US', inplace=True) 
title_akas1['language'].fillna('en', inplace=True) 
title_akas1['types'].fillna('imdbDisplay', inplace=True) 
title_akas1['attributes'].fillna('transliterated ISO-LATIN-1 title', inplace=True) 
title_akas1['isOriginalTitle'].fillna('0', inplace=True)

Renaming titleId to tconst (principal key)

In [87]:
title_akas1['tconst'] = title_akas1['titleId'] #rename the key
title_akas1 = title_akas1.drop(['titleId','ordering' ], axis=1) #drop "ordering" as it's a key won't be used as predictor
title_akas1.columns

Index([u'title', u'region', u'language', u'types', u'attributes',
       u'isOriginalTitle', u'tconst'],
      dtype='object')

# Title_episode

In [56]:
title_episode.dtypes

tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtype: object

Replacing \N by Nan

In [91]:
title_episode1 = title_episode.replace('\N', np.nan)
print title_episode1

            tconst parentTconst seasonNumber episodeNumber
0        tt0041951    tt0041038            1             9
1        tt0042816    tt0989125            1            17
2        tt0042889    tt0989125          NaN           NaN
3        tt0043426    tt0040051            3            42
4        tt0043631    tt0989125            2            16
5        tt0043693    tt0989125            2             8
6        tt0043710    tt0989125            3             3
7        tt0044093    tt0959862            1             6
8        tt0044901    tt0989125            3            46
9        tt0045519    tt0989125            4            11
10       tt0045960    tt0044284            2             3
11       tt0046135    tt0989125            4             5
12       tt0046150    tt0341798          NaN           NaN
13       tt0046855    tt0046643            1             4
14       tt0046864    tt0989125            5            20
15       tt0047810    tt0914702            3            36
16       tt0047852    tt0047745            1            15
17       tt0047858    tt0046637            2             9
18       tt0047961    tt0989125            6             5
19       tt0048067    tt0046587            2            20
20       tt0048302    tt0047768            1             6
21       tt0048371    tt0989125            6            11
22       tt0048378    tt0047702            1             6
23       tt0048462    tt0047702            1             3
24       tt0048562    tt0047768            1            10
25       tt0048883    tt0989125            6            42
26       tt0049473    tt0046593            1            20
27       tt0049572    tt0914702            1            30
28       tt0049669    tt0048893            1             2
29       tt0050031    tt0050013            1             4
...            ...          ...          ...           ...
4224776  tt9916794    tt1289683            2            33
4224777  tt9916796    tt1289683            2            34
4224778  tt9916798    tt1289683            2            36
4224779  tt9916800    tt1289683            2            35
4224780  tt9916802    tt5189940           12            15
4224781  tt9916804    tt1289683            2            37
4224782  tt9916806    tt1289683            3             1
4224783  tt9916808    tt1289683            3             2
4224784  tt9916810    tt5189940           12            16
4224785  tt9916812    tt1289683            3             3
4224786  tt9916814    tt1289683            3             4
4224787  tt9916816    tt1289683            3             5
4224788  tt9916818    tt1289683            3             6
4224789  tt9916820    tt1289683            3             7
4224790  tt9916822    tt1289683            3             8
4224791  tt9916824    tt1289683            3             9
4224792  tt9916826    tt1289683            3            10
4224793  tt9916830    tt1828066            2             6
4224794  tt9916832    tt1289683            3            11
4224795  tt9916834    tt1289683            3            12
4224796  tt9916836    tt1289683            3            14
4224797  tt9916838    tt1289683            3            13
4224798  tt9916840    tt0985991            4             1
4224799  tt9916842    tt1289683            3            16
4224800  tt9916844    tt1289683            3            15
4224801  tt9916846    tt1289683            3            18
4224802  tt9916848    tt1289683            3            17
4224803  tt9916850    tt1289683            3            19
4224804  tt9916852    tt1289683            3            20
4224805  tt9916880    tt0985991            4             2

[4224806 rows x 4 columns]

In [94]:
title_episode1['episodeNumber'].value_counts()

1        178668
2        161722
3        154572
4        144572
5        134898
6        126448
7        109081
8        102302
9         90543
10        86128
11        73639
12        70170
13        62325
14        47893
15        45000
16        42318
17        39331
18        37990
19        36388
20        35246
21        32109
22        31018
23        28557
24        27490
25        25404
26        24091
27        20026
28        19417
29        18825
30        18302
          ...
13971         1
15614         1
15617         1
14502         1
14503         1
14500         1
15389         1
14836         1
14044         1
14248         1
15574         1
15575         1
14240         1
15578         1
14244         1
14247         1
14246         1
15388         1
14501         1
14219         1
14211         1
15579         1
15619         1
15618         1
15615         1
15169         1
14505         1
14504         1
14507         1
14454         1
Name: episodeNumber, Length: 15536, dtype: int64

Replacing the missing values by the most common value

In [63]:
title_episode1['parentTconst'].fillna('tt0058796', inplace=True) #
title_episode1['seasonNumber'].fillna('1', inplace=True) 
title_episode1['episodeNumber'].fillna('1', inplace=True)

In [64]:
title_episode1['seasonNumber'].value_counts()

1       1992603
No       915687
2        374904
3        210708
4        139929
5        100831
6         77070
7         60187
8         47429
9         36310
10        29660
11        24477
12        20871
13        18632
14        15934
15        13992
16        13316
17        11896
18        10097
19         9164
20         8722
22         8114
21         8104
23         6926
24         5574
25         5153
26         4746
29         4422
27         4421
28         4350
         ...
102          10
93            9
91            9
95            8
2006          8
173           8
174           8
2012          7
94            7
171           7
201           7
172           5
191           5
2017          5
2011          5
92            4
2010          4
1967          4
160           3
190           3
2019          3
1965          3
189           3
2014          2
1966          2
1980          1
175           1
183           1
1973          1
2000          1
Name: seasonNumber, Length: 201, dtype: int64

# name_basics table

In [95]:
name_basics.dtypes

nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtype: object

Replacing \N by nan

In [110]:
name_basics1 = name_basics.replace('\N', np.nan)
print name_basics1

           nconst          primaryName birthYear deathYear  \
0       nm0000001         Fred Astaire      1899      1987
1       nm0000002        Lauren Bacall      1924      2014
2       nm0000003      Brigitte Bardot      1934       NaN
3       nm0000004         John Belushi      1949      1982
4       nm0000005       Ingmar Bergman      1918      2007
5       nm0000006       Ingrid Bergman      1915      1982
6       nm0000007      Humphrey Bogart      1899      1957
7       nm0000008        Marlon Brando      1924      2004
8       nm0000009       Richard Burton      1925      1984
9       nm0000010         James Cagney      1899      1986
10      nm0000011          Gary Cooper      1901      1961
11      nm0000012          Bette Davis      1908      1989
12      nm0000013            Doris Day      1922      2019
13      nm0000014  Olivia de Havilland      1916       NaN
14      nm0000015           James Dean      1931      1955
15      nm0000016      Georges Delerue      1925      1992
16      nm0000017     Marlene Dietrich      1901      1992
17      nm0000018         Kirk Douglas      1916       NaN
18      nm0000019     Federico Fellini      1920      1993
19      nm0000020          Henry Fonda      1905      1982
20      nm0000021        Joan Fontaine      1917      2013
21      nm0000022          Clark Gable      1901      1960
22      nm0000023         Judy Garland      1922      1969
23      nm0000024         John Gielgud      1904      2000
24      nm0000025      Jerry Goldsmith      1929      2004
25      nm0000026           Cary Grant      1904      1986
26      nm0000027        Alec Guinness      1914      2000
27      nm0000028        Rita Hayworth      1918      1987
28      nm0000029    Margaux Hemingway      1954      1996
29      nm0000030       Audrey Hepburn      1929      1993
...           ...                  ...       ...       ...
261951  nm0275582          Oleg Fialko      1946       NaN
261952  nm0275583  Joshua Hale Fialkov      1979       NaN
261953  nm0275584   Drahomíra Fialková      1923      2010
261954  nm0275585         Delia Fiallo      1924       NaN
261955  nm0275586       Ivanka Fialova       NaN       NaN
261956  nm0275587        Kveta Fialová      1929      2017
261957  nm0275588       Vlasta Fialová      1928      1998
261958  nm0275589       Zuzana Fialová      1974       NaN
261959  nm0275590      Alice Fialowski       NaN       NaN
261960  nm0275591    Alexander Fialski       NaN       NaN
261961  nm0275592         Clely Fiamma      1914      1977
261962  nm0275593            Fiammetta      1950       NaN
261963  nm0275594         Antonio Fian       NaN       NaN
261964  nm0275595        Lewis Fiander      1938      2016
261965  nm0275596             O. Fiane       NaN       NaN
261966  nm0275597         Amelin Fiani       NaN       NaN
261967  nm0275598           Mike Fiant       NaN       NaN
261968  nm0275599        Christi Fiara       NaN       NaN
261969  nm0275600       Richard Fiardo       NaN       NaN
261970  nm0275601  Giovanni Fiaschetti       NaN       NaN
261971  nm0275602        César Fiaschi       NaN      1954
261972  nm0275603    Filiberto Fiaschi       NaN       NaN
261973  nm0275604       Giulio Fiaschi       NaN       NaN
261974  nm0275605  Francesco M. Fiasco       NaN       NaN
261975  nm0275606     Frank Fiasconaro       NaN       NaN
261976  nm0275607  Giuseppe Fiasconaro       NaN       NaN
261977  nm0275608  Gregorio Fiasconaro       NaN       NaN
261978  nm0275609  Marcello Fiasconaro       NaN       NaN
261979  nm0275610       Lyn-Del Fiaseu       NaN       NaN
261980  nm0275611       Jacopo Fiastri       NaN       NaN

                                     primaryProfession  \
0                       soundtrack,actor,miscellaneous
1                                   actress,soundtrack
2                          actress,soundtrack,producer
3                              actor,writer,soundtrack
4                                writer,director,actor
5                          actress,soundtrack,producer
6                            actor,soundtrack,producer
7                            actor,soundtrack,director
8                            actor,producer,soundtrack
9                            actor,soundtrack,director
10                           actor,soundtrack,producer
11               actress,soundtrack,make_up_department
12                         soundtrack,actress,producer
13                                  actress,soundtrack
14                                 actor,miscellaneous
15                composer,soundtrack,music_department
16                 soundtrack,actress,music_department
17                           actor,producer,soundtrack
18                  writer,director,assistant_director
19                           actor,producer,soundtrack
20                         actress,soundtrack,producer
21                           actor,soundtrack,producer
22                                  soundtrack,actress
23                               actor,writer,director
24                music_department,soundtrack,composer
25                           actor,soundtrack,producer
26                             actor,soundtrack,writer
27                         actress,soundtrack,producer
28                               actress,miscellaneous
29                                  actress,soundtrack
...                                                ...
261951                           director,writer,actor
261952                   writer,producer,miscellaneous
261953                                         actress
261954                                  writer,actress
261955                                   miscellaneous
261956                                         actress
261957                                         actress
261958                         actress,writer,director
261959                                             NaN
261960                                           actor
261961                                         actress
261962                                             NaN
261963                                          writer
261964                                           actor
261965                                           actor
261966                                         actress
261967               art_department,costume_department
261968                                 actress,manager
261969                                           actor
261970                                           actor
261971                                           actor
261972                assistant_director,miscellaneous
261973  production_manager,producer,assistant_director
261974                                           actor
261975                                             NaN
261976                                           actor
261977                                           actor
261978                                           actor
261979                                   miscellaneous
261980                                             com

                                 knownForTitles
0       tt0043044,tt0072308,tt0053137,tt0050419
1       tt0037382,tt0038355,tt0117057,tt0071877
2       tt0059956,tt0049189,tt0054452,tt0057345
3       tt0080455,tt0078723,tt0077975,tt0072562
4       tt0083922,tt0069467,tt0050986,tt0050976
5       tt0038109,tt0036855,tt0077711,tt0038787
6       tt0033870,tt0043265,tt0037382,tt0034583
7       tt0047296,tt0068646,tt0070849,tt0078788
8       tt0061184,tt0059749,tt0087803,tt0057877
9       tt0055256,tt0035575,tt0031867,tt0029870
10      tt0027996,tt0034167,tt0035211,tt0044706
11      tt0035140,tt0042192,tt0056687,tt0031210
12      tt0048317,tt0053172,tt0055100,tt0060463
13      tt0040806,tt0031381,tt0029843,tt0041452
14      tt0048545,tt0048028,tt0044245,tt0049261
15      tt0091763,tt0069946,tt0096320,tt0080610
16      tt0052311,tt0055031,tt0051201,tt0021156
17      tt0054331,tt0052365,tt0049456,tt0080736
18      tt0056801,tt0071129,tt0047528,tt0053779
19      tt0032551,tt0050083,tt0064116,tt0082846
20      tt0034248,tt0036969,tt0039504,tt0032976
21      tt0052278,tt0026752,tt0031381,tt0025316
22      tt0037059,tt0047522,tt0032138,tt0055031
23      tt0117631,tt0045943,tt0071877,tt0082031
24      tt0112715,tt0119488,tt0100802,tt0117731
25      tt0048728,tt0056923,tt0053125,tt0036613
26      tt0050212,tt0076759,tt0051739,tt0041546
27      tt0040525,tt0040552,tt0036723,tt0038559
28      tt0102122,tt0077800,tt0110138,tt0074802
29      tt0046250,tt0058385,tt0056923,tt0054698
...                                         ...
261951  tt0305295,tt0136263,tt4968966,tt0356761
261952  tt8174194,tt1641384,tt4118466,tt1560134
261953  tt0142032,tt0355295,tt0078753,tt0093607
261954  tt1171896,tt0247124,tt0211849,tt1268929
261955  tt0309820,tt0365675,tt0347017,tt0221928
261956  tt0170595,tt0075633,tt0058275,tt0172625
261957  tt0167898,tt2729920,tt0054496,tt0232906
261958  tt1261045,tt2209300,tt1830048,tt1394290
261959                                tt0125425
261960                                tt0172360
261961  tt0032451,tt0044325,tt0051926,tt0044345
261962                                      NaN
261963                                tt0188034
261964  tt0097581,tt0165050,tt0074977,tt0075462
261965                                tt0085742
261966  tt0438255,tt0242093,tt0145601,tt0209717
261967                      tt0243980,tt0272440
261968                                tt0112547
261969  tt0088002,tt0093673,tt0094105,tt0084841
261970                                tt0094471
261971  tt0178446,tt0121559,tt0204501,tt0194769
261972  tt0085540,tt0059055,tt0085356,tt0290240
261973  tt0046406,tt0041356,tt0043802,tt0049864
261974                                tt0150056
261975                                      NaN
261976                                tt0162779
261977                                tt0250116
261978                                tt0250116
261979                                tt0119567
261980                                      NaN

[261981 rows x 6 columns]

Renaming nconst to tconst

In [163]:
name_basics1['tconst'] = name_basics1['nconst']
name_basics1.columns

Index([u'nconst', u'primaryName', u'birthYear', u'deathYear',
       u'primaryProfession', u'knownForTitles', u'birthYear1', u'deathYear1',
       u'age_person', u'years_death', u'tconst'],
      dtype='object')

Converting variable to Float

In [164]:

name_basics1['birthYear1'] = name_basics1['birthYear'].astype(float) #convert birth year to float
name_basics1['deathYear1'] = name_basics1['deathYear'].astype(float) #convert birth year to float



name_basics2.dtypes

nconst                object
primaryName           object
primaryProfession     object
knownForTitles        object
age_person           float64
years_death          float64
dtype: object

Creating 2 new variables based on birth year and death year

In [165]:
name_basics1['age_person'] = 2019 - name_basics1['birthYear1']
name_basics1['years_death'] = 2019 - name_basics1['deathYear1']

name_basics2 = name_basics1.drop(['birthYear','deathYear','birthYear1', 'deathYear1','nconst'], axis=1)
print name_basics2

                primaryName                               primaryProfession  \
0              Fred Astaire                  soundtrack,actor,miscellaneous
1             Lauren Bacall                              actress,soundtrack
2           Brigitte Bardot                     actress,soundtrack,producer
3              John Belushi                         actor,writer,soundtrack
4            Ingmar Bergman                           writer,director,actor
5            Ingrid Bergman                     actress,soundtrack,producer
6           Humphrey Bogart                       actor,soundtrack,producer
7             Marlon Brando                       actor,soundtrack,director
8            Richard Burton                       actor,producer,soundtrack
9              James Cagney                       actor,soundtrack,director
10              Gary Cooper                       actor,soundtrack,producer
11              Bette Davis           actress,soundtrack,make_up_department
12                Doris Day                     soundtrack,actress,producer
13      Olivia de Havilland                              actress,soundtrack
14               James Dean                             actor,miscellaneous
15          Georges Delerue            composer,soundtrack,music_department
16         Marlene Dietrich             soundtrack,actress,music_department
17             Kirk Douglas                       actor,producer,soundtrack
18         Federico Fellini              writer,director,assistant_director
19              Henry Fonda                       actor,producer,soundtrack
20            Joan Fontaine                     actress,soundtrack,producer
21              Clark Gable                       actor,soundtrack,producer
22             Judy Garland                              soundtrack,actress
23             John Gielgud                           actor,writer,director
24          Jerry Goldsmith            music_department,soundtrack,composer
25               Cary Grant                       actor,soundtrack,producer
26            Alec Guinness                         actor,soundtrack,writer
27            Rita Hayworth                     actress,soundtrack,producer
28        Margaux Hemingway                           actress,miscellaneous
29           Audrey Hepburn                              actress,soundtrack
...                     ...                                             ...
261951          Oleg Fialko                           director,writer,actor
261952  Joshua Hale Fialkov                   writer,producer,miscellaneous
261953   Drahomíra Fialková                                         actress
261954         Delia Fiallo                                  writer,actress
261955       Ivanka Fialova                                   miscellaneous
261956        Kveta Fialová                                         actress
261957       Vlasta Fialová                                         actress
261958       Zuzana Fialová                         actress,writer,director
261959      Alice Fialowski                                           actor
261960    Alexander Fialski                                           actor
261961         Clely Fiamma                                         actress
261962            Fiammetta                                           actor
261963         Antonio Fian                                          writer
261964        Lewis Fiander                                           actor
261965             O. Fiane                                           actor
261966         Amelin Fiani                                         actress
261967           Mike Fiant               art_department,costume_department
261968        Christi Fiara                                 actress,manager
261969       Richard Fiardo                                           actor
261970  Giovanni Fiaschetti                                           actor
261971        César Fiaschi                                           actor
261972    Filiberto Fiaschi                assistant_director,miscellaneous
261973       Giulio Fiaschi  production_manager,producer,assistant_director
261974  Francesco M. Fiasco                                           actor
261975     Frank Fiasconaro                                           actor
261976  Giuseppe Fiasconaro                                           actor
261977  Gregorio Fiasconaro                                           actor
261978  Marcello Fiasconaro                                           actor
261979       Lyn-Del Fiaseu                                   miscellaneous
261980       Jacopo Fiastri                                             com

                                 knownForTitles  age_person  years_death  \
0       tt0043044,tt0072308,tt0053137,tt0050419       120.0         32.0
1       tt0037382,tt0038355,tt0117057,tt0071877        95.0          5.0
2       tt0059956,tt0049189,tt0054452,tt0057345        85.0          NaN
3       tt0080455,tt0078723,tt0077975,tt0072562        70.0         37.0
4       tt0083922,tt0069467,tt0050986,tt0050976       101.0         12.0
5       tt0038109,tt0036855,tt0077711,tt0038787       104.0         37.0
6       tt0033870,tt0043265,tt0037382,tt0034583       120.0         62.0
7       tt0047296,tt0068646,tt0070849,tt0078788        95.0         15.0
8       tt0061184,tt0059749,tt0087803,tt0057877        94.0         35.0
9       tt0055256,tt0035575,tt0031867,tt0029870       120.0         33.0
10      tt0027996,tt0034167,tt0035211,tt0044706       118.0         58.0
11      tt0035140,tt0042192,tt0056687,tt0031210       111.0         30.0
12      tt0048317,tt0053172,tt0055100,tt0060463        97.0          0.0
13      tt0040806,tt0031381,tt0029843,tt0041452       103.0          NaN
14      tt0048545,tt0048028,tt0044245,tt0049261        88.0         64.0
15      tt0091763,tt0069946,tt0096320,tt0080610        94.0         27.0
16      tt0052311,tt0055031,tt0051201,tt0021156       118.0         27.0
17      tt0054331,tt0052365,tt0049456,tt0080736       103.0          NaN
18      tt0056801,tt0071129,tt0047528,tt0053779        99.0         26.0
19      tt0032551,tt0050083,tt0064116,tt0082846       114.0         37.0
20      tt0034248,tt0036969,tt0039504,tt0032976       102.0          6.0
21      tt0052278,tt0026752,tt0031381,tt0025316       118.0         59.0
22      tt0037059,tt0047522,tt0032138,tt0055031        97.0         50.0
23      tt0117631,tt0045943,tt0071877,tt0082031       115.0         19.0
24      tt0112715,tt0119488,tt0100802,tt0117731        90.0         15.0
25      tt0048728,tt0056923,tt0053125,tt0036613       115.0         33.0
26      tt0050212,tt0076759,tt0051739,tt0041546       105.0         19.0
27      tt0040525,tt0040552,tt0036723,tt0038559       101.0         32.0
28      tt0102122,tt0077800,tt0110138,tt0074802        65.0         23.0
29      tt0046250,tt0058385,tt0056923,tt0054698        90.0         26.0
...                                         ...         ...          ...
261951  tt0305295,tt0136263,tt4968966,tt0356761        73.0          NaN
261952  tt8174194,tt1641384,tt4118466,tt1560134        40.0          NaN
261953  tt0142032,tt0355295,tt0078753,tt0093607        96.0          9.0
261954  tt1171896,tt0247124,tt0211849,tt1268929        95.0          NaN
261955  tt0309820,tt0365675,tt0347017,tt0221928         NaN          NaN
261956  tt0170595,tt0075633,tt0058275,tt0172625        90.0          2.0
261957  tt0167898,tt2729920,tt0054496,tt0232906        91.0         21.0
261958  tt1261045,tt2209300,tt1830048,tt1394290        45.0          NaN
261959                                tt0125425         NaN          NaN
261960                                tt0172360         NaN          NaN
261961  tt0032451,tt0044325,tt0051926,tt0044345       105.0         42.0
261962                                tt0048960        69.0          NaN
261963                                tt0188034         NaN          NaN
261964  tt0097581,tt0165050,tt0074977,tt0075462        81.0          3.0
261965                                tt0085742         NaN          NaN
261966  tt0438255,tt0242093,tt0145601,tt0209717         NaN          NaN
261967                      tt0243980,tt0272440         NaN          NaN
261968                                tt0112547         NaN          NaN
261969  tt0088002,tt0093673,tt0094105,tt0084841         NaN          NaN
261970                                tt0094471         NaN          NaN
261971  tt0178446,tt0121559,tt0204501,tt0194769         NaN         65.0
261972  tt0085540,tt0059055,tt0085356,tt0290240         NaN          NaN
261973  tt0046406,tt0041356,tt0043802,tt0049864         NaN          NaN
261974                                tt0150056         NaN          NaN
261975                                tt0048960         NaN          NaN
261976                                tt0162779         NaN          NaN
261977                                tt0250116         NaN          NaN
261978                                tt0250116         NaN          NaN
261979                                tt0119567         NaN          NaN
261980                                tt0048960         NaN          NaN

           tconst
0       nm0000001
1       nm0000002
2       nm0000003
3       nm0000004
4       nm0000005
5       nm0000006
6       nm0000007
7       nm0000008
8       nm0000009
9       nm0000010
10      nm0000011
11      nm0000012
12      nm0000013
13      nm0000014
14      nm0000015
15      nm0000016
16      nm0000017
17      nm0000018
18      nm0000019
19      nm0000020
20      nm0000021
21      nm0000022
22      nm0000023
23      nm0000024
24      nm0000025
25      nm0000026
26      nm0000027
27      nm0000028
28      nm0000029
29      nm0000030
...           ...
261951  nm0275582
261952  nm0275583
261953  nm0275584
261954  nm0275585
261955  nm0275586
261956  nm0275587
261957  nm0275588
261958  nm0275589
261959  nm0275590
261960  nm0275591
261961  nm0275592
261962  nm0275593
261963  nm0275594
261964  nm0275595
261965  nm0275596
261966  nm0275597
261967  nm0275598
261968  nm0275599
261969  nm0275600
261970  nm0275601
261971  nm0275602
261972  nm0275603
261973  nm0275604
261974  nm0275605
261975  nm0275606
261976  nm0275607
261977  nm0275608
261978  nm0275609
261979  nm0275610
261980  nm0275611

[261981 rows x 6 columns]

In [119]:
name_basics2['years_death'].value_counts()

8.0      689
13.0     681
4.0      678
11.0     665
9.0      663
10.0     660
6.0      650
14.0     646
3.0      642
2.0      637
15.0     636
7.0      635
12.0     631
5.0      620
18.0     617
1.0      604
16.0     600
17.0     592
20.0     589
19.0     575
23.0     551
26.0     539
24.0     529
21.0     523
29.0     521
22.0     518
25.0     495
30.0     494
27.0     492
28.0     478
        ...
239.0      1
228.0      1
241.0      1
278.0      1
159.0      1
154.0      1
218.0      1
452.0      1
396.0      1
152.0      1
417.0      1
145.0      1
371.0      1
185.0      1
147.0      1
306.0      1
425.0      1
169.0      1
212.0      1
162.0      1
255.0      1
172.0      1
286.0      1
153.0      1
619.0      1
183.0      1
221.0      1
181.0      1
315.0      1
117.0      1
Name: years_death, Length: 230, dtype: int64

Replacing the missing values by the most common value

Replacing the continuous variables by the mean

In [223]:
name_basics2['primaryName'].fillna('John Davis', inplace=True) #
name_basics2['primaryProfession'].fillna('actor', inplace=True) 
name_basics2['knownForTitles'].fillna('tt0048960', inplace=True) 

name_basics2['age_person'].fillna(name_basics2['age_person'].mean(), inplace=True)
name_basics2['years_death'].fillna(name_basics2['years_death'].mean(), inplace=True)

print name_basics2['age_person']

0         120.000000
1          95.000000
2          85.000000
3          70.000000
4         101.000000
5         104.000000
6         120.000000
7          95.000000
8          94.000000
9         120.000000
10        118.000000
11        111.000000
12         97.000000
13        103.000000
14         88.000000
15         94.000000
16        118.000000
17        103.000000
18         99.000000
19        114.000000
20        102.000000
21        118.000000
22         97.000000
23        115.000000
24         90.000000
25        115.000000
26        105.000000
27        101.000000
28         65.000000
29         90.000000
             ...
261951     73.000000
261952     40.000000
261953     96.000000
261954     95.000000
261955     82.898478
261956     90.000000
261957     91.000000
261958     45.000000
261959     82.898478
261960     82.898478
261961    105.000000
261962     69.000000
261963     82.898478
261964     81.000000
261965     82.898478
261966     82.898478
261967     82.898478
261968     82.898478
261969     82.898478
261970     82.898478
261971     82.898478
261972     82.898478
261973     82.898478
261974     82.898478
261975     82.898478
261976     82.898478
261977     82.898478
261978     82.898478
261979     82.898478
261980     82.898478
Name: age_person, Length: 261981, dtype: float64

# Title_principals

In [129]:
Title_principals.dtypes

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

Replacing \N by nan

In [130]:
Title_principals1 = Title_principals.replace('\N', np.nan)
#print Title_principals1

In [134]:
Title_principals1['characters'].value_counts()

["Himself"]                                             1769704
["Herself"]                                              873116
["Himself - Host"]                                       689274
["Herself - Host"]                                       223957
["Himself - Guest"]                                      125768
["Herself - Hostess"]                                    110940
["Himself - Panelist"]                                    96050
["Himself - Presenter"]                                   88802
["Narrator"]                                              83959
["Herself - Guest"]                                       81406
["Themselves"]                                            76078
["Himself - Announcer"]                                   71842
["Himself - Co-Host"]                                     69646
["Herself - Panelist"]                                    65026
["Herself - Presenter"]                                   64334
["Herself - Co-Hostess"]                                  47517
["Himself - Contestant"]                                  38174
["Herself - Contestant"]                                  36103
["Herself - Co-Host"]                                     32857
["Himself - Judge"]                                       31786
["Various"]                                               29304
["Herself - Model"]                                       29103
["Himself - Newsreader"]                                  28825
["Herself - Newsreader"]                                  28798
["Himself - Correspondent"]                               28336
["Various Characters"]                                    28326
["Himself - Reporter"]                                    26217
["Herself - Correspondent"]                               25682
["Herself - Judge"]                                       21876
["Himself - Narrator"]                                    21539
                                                         ...
["Jesse Harms"]                                               1
["Hajtkovic"]                                                 1
["Jocko Donovan"]                                             1
["Dancer in Video #3"]                                        1
["Jenny Demiri"]                                              1
["Embarrassed Kid"]                                           1
["Grace Dare"]                                                1
["Tyronne White"]                                             1
["Graf","Kelley"]                                             1
["Winnie Allen, The Rancher's Daughter"]                      1
["Cop","Elevator Man","Film Crew Member"]                     1
["Himself - Co-Host","Himself","Himself - Reporter"]          1
["El Amigo Perejiles"]                                        1
["Beanbag"]                                                   1
["Carmen Hidalgo"]                                            1
["Yarek"]                                                     1
["zhena Petrovicha"]                                          1
["Abdlkadir"]                                                 1
["Justin Wakefield"]                                          1
["J. Fullerton Weldy"]                                        1
["Vibol"]                                                     1
["Frank Braun"]                                               1
["Henri Taride"]                                              1
["Phil Larrabee"]                                             1
["Himself - Former Supt. Merseyside Police"]                  1
["Nostalgia Critic","Tuffy the Tiger","Batman"]               1
["Broffiero"]                                                 1
["Kun He"]                                                    1
["Evil Banana"]                                               1
["Tiffany's Salesperson"]                                     1
Name: characters, Length: 2161760, dtype: int64

replacing the missing values by the most common value

In [135]:
Title_principals1['nconst'].fillna('nm0438471', inplace=True) #
Title_principals1['category'].fillna('actor', inplace=True) 
Title_principals1['job'].fillna('producer', inplace=True) 
Title_principals1['characters'].fillna('["Himself"]', inplace=True)

In [136]:
Title_principals2 = Title_principals1.drop(['ordering'], axis=1)

# title_basics

In [137]:
title_basics.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

Replacing \N by nan

In [168]:
title_basics1 = title_basics.replace('\N', np.nan)
print title_basics1

            tconst  titleType                                   primaryTitle  \
0        tt0000001      short                                     Carmencita
1        tt0000002      short                         Le clown et ses chiens
2        tt0000003      short                                 Pauvre Pierrot
3        tt0000004      short                                    Un bon bock
4        tt0000005      short                               Blacksmith Scene
5        tt0000006      short                              Chinese Opium Den
6        tt0000007      short    Corbett and Courtney Before the Kinetograph
7        tt0000008      short         Edison Kinetoscopic Record of a Sneeze
8        tt0000009      movie                                     Miss Jerry
9        tt0000010      short                            Exiting the Factory
10       tt0000011      short                        Akrobatisches Potpourri
11       tt0000012      short                         The Arrival of a Train
12       tt0000013      short    The Photographical Congress Arrives in Lyon
13       tt0000014      short                        The Sprinkler Sprinkled
14       tt0000015      short                            Autour d'une cabine
15       tt0000016      short                         Barque sortant du port
16       tt0000017      short                       Italienischer Bauerntanz
17       tt0000018      short                           Das boxende Känguruh
18       tt0000019      short                               The Clown Barber
19       tt0000020      short                                 The Derby 1895
20       tt0000022      short                               Blacksmith Scene
21       tt0000023      short                                        The Sea
22       tt0000024      short                      Opening of the Kiel Canal
23       tt0000025      short  The Oxford and Cambridge University Boat Race
24       tt0000026      short                  The Messers. Lumière at Cards
25       tt0000027      short                     Cordeliers' Square in Lyon
26       tt0000028      short                           Fishing for Goldfish
27       tt0000029      short                                  Baby's Dinner
28       tt0000030      short                             Rough Sea at Dover
29       tt0000031      short                            Jumping the Blanket
...            ...        ...                                            ...
6059196  tt9916796  tvEpisode                                  Episode #2.34
6059197  tt9916798  tvEpisode                                  Episode #2.36
6059198  tt9916800  tvEpisode                                  Episode #2.35
6059199  tt9916802  tvEpisode                                   Luc Janssens
6059200  tt9916804  tvEpisode                                  Episode #2.37
6059201  tt9916806  tvEpisode                                   Episode #3.1
6059202  tt9916808  tvEpisode                                   Episode #3.2
6059203  tt9916810  tvEpisode                   Danira Boukhriss Terkessidis
6059204  tt9916812  tvEpisode                                   Episode #3.3
6059205  tt9916814  tvEpisode                                   Episode #3.4
6059206  tt9916816  tvEpisode                                   Episode #3.5
6059207  tt9916818  tvEpisode                                   Episode #3.6
6059208  tt9916820  tvEpisode                                   Episode #3.7
6059209  tt9916822  tvEpisode                                   Episode #3.8
6059210  tt9916824  tvEpisode                                   Episode #3.9
6059211  tt9916826  tvEpisode                                  Episode #3.10
6059212  tt9916830  tvEpisode                                   Episode #2.6
6059213  tt9916832  tvEpisode                                  Episode #3.11
6059214  tt9916834  tvEpisode                                  Episode #3.12
6059215  tt9916836  tvEpisode                                  Episode #3.14
6059216  tt9916838  tvEpisode                                  Episode #3.13
6059217  tt9916840  tvEpisode                     Horrid Henry's Comic Caper
6059218  tt9916842  tvEpisode                                  Episode #3.16
6059219  tt9916844  tvEpisode                                  Episode #3.15
6059220  tt9916846  tvEpisode                                  Episode #3.18
6059221  tt9916848  tvEpisode                                  Episode #3.17
6059222  tt9916850  tvEpisode                                  Episode #3.19
6059223  tt9916852  tvEpisode                                  Episode #3.20
6059224  tt9916856      short                                       The Wind
6059225  tt9916880  tvEpisode                      Horrid Henry Knows It All

                                             originalTitle  isAdult startYear  \
0                                               Carmencita        0      1894
1                                   Le clown et ses chiens        0      1892
2                                           Pauvre Pierrot        0      1892
3                                              Un bon bock        0      1892
4                                         Blacksmith Scene        0      1893
5                                        Chinese Opium Den        0      1894
6              Corbett and Courtney Before the Kinetograph        0      1894
7                   Edison Kinetoscopic Record of a Sneeze        0      1894
8                                               Miss Jerry        0      1894
9                      La sortie de l'usine Lumière à Lyon        0      1895
10                                 Akrobatisches Potpourri        0      1895
11                        L'arrivée d'un train à La Ciotat        0      1896
12       Neuville-sur-Saône: Débarquement du congrès de...        0      1895
13                                       L'arroseur arrosé        0      1895
14                                     Autour d'une cabine        0      1894
15                                  Barque sortant du port        0      1895
16                                Italienischer Bauerntanz        0      1895
17                                    Das boxende Känguruh        0      1895
18                                        The Clown Barber        0      1898
19                                          The Derby 1895        0      1895
20                                           Les forgerons        0      1895
21                                         Baignade en mer        0      1895
22                               Opening of the Kiel Canal        0      1895
23           The Oxford and Cambridge University Boat Race        0      1895
24                                         Partie d'écarté        0      1896
25                             Place des Cordeliers à Lyon        0      1895
26                            La pêche aux poissons rouges        0      1895
27                                           Repas de bébé        0      1895
28                                      Rough Sea at Dover        0      1895
29                                 Le saut à la couverture        0      1895
...                                                    ...      ...       ...
6059196                                      Episode #2.34        0      2009
6059197                                      Episode #2.36        0      2009
6059198                                      Episode #2.35        0      2009
6059199                                       Luc Janssens        0      2019
6059200                                      Episode #2.37        0      2009
6059201                                       Episode #3.1        0      2010
6059202                                       Episode #3.2        0      2010
6059203                       Danira Boukhriss Terkessidis        0      2019
6059204                                       Episode #3.3        0      2010
6059205                                       Episode #3.4        0      2010
6059206                                       Episode #3.5        0      2010
6059207                                       Episode #3.6        0      2010
6059208                                       Episode #3.7        0      2010
6059209                                       Episode #3.8        0      2010
6059210                                       Episode #3.9        0      2010
6059211                                      Episode #3.10        0      2010
6059212                                       Episode #2.6        0      1973
6059213                                      Episode #3.11        0      2010
6059214                                      Episode #3.12        0      2010
6059215                                      Episode #3.14        0      2010
6059216                                      Episode #3.13        0      2010
6059217                         Horrid Henry's Comic Caper        0      2014
6059218                                      Episode #3.16        0      2010
6059219                                      Episode #3.15        0      2010
6059220                                      Episode #3.18        0      2010
6059221                                      Episode #3.17        0      2010
6059222                                      Episode #3.19        0      2010
6059223                                      Episode #3.20        0      2010
6059224                                           The Wind        0      2015
6059225                          Horrid Henry Knows It All        0      2014

        endYear runtimeMinutes                    genres
0           NaN              1         Documentary,Short
1           NaN              5           Animation,Short
2           NaN              4  Animation,Comedy,Romance
3           NaN            NaN           Animation,Short
4           NaN              1              Comedy,Short
5           NaN              1                     Short
6           NaN              1               Short,Sport
7           NaN              1         Documentary,Short
8           NaN             45                   Romance
9           NaN              1         Documentary,Short
10          NaN              1         Documentary,Short
11          NaN              1  Action,Documentary,Short
12          NaN              1         Documentary,Short
13          NaN              1              Comedy,Short
14          NaN              2           Animation,Short
15          NaN              1         Documentary,Short
16          NaN              1         Documentary,Short
17          NaN              1                     Short
18          NaN            NaN              Comedy,Short
19          NaN              1   Documentary,Short,Sport
20          NaN              1         Documentary,Short
21          NaN              1         Documentary,Short
22          NaN            NaN                News,Short
23          NaN            NaN          News,Short,Sport
24          NaN              1         Documentary,Short
25          NaN              1         Documentary,Short
26          NaN              1         Documentary,Short
27          NaN              1         Documentary,Short
28          NaN              1         Documentary,Short
29          NaN              1         Documentary,Short
...         ...            ...                       ...
6059196     NaN            NaN       Action,Drama,Family
6059197     NaN            NaN       Action,Drama,Family
6059198     NaN            NaN       Action,Drama,Family
6059199     NaN            NaN     Comedy,News,Talk-Show
6059200     NaN            NaN       Action,Drama,Family
6059201     NaN            NaN       Action,Drama,Family
6059202     NaN            NaN       Action,Drama,Family
6059203     NaN            NaN     Comedy,News,Talk-Show
6059204     NaN            NaN       Action,Drama,Family
6059205     NaN            NaN       Action,Drama,Family
6059206     NaN            NaN       Action,Drama,Family
6059207     NaN            NaN       Action,Drama,Family
6059208     NaN            NaN       Action,Drama,Family
6059209     NaN            NaN       Action,Drama,Family
6059210     NaN            NaN       Action,Drama,Family
6059211     NaN            NaN       Action,Drama,Family
6059212     NaN            NaN                 Game-Show
6059213     NaN            NaN       Action,Drama,Family
6059214     NaN            NaN       Action,Drama,Family
6059215     NaN            NaN       Action,Drama,Family
6059216     NaN            NaN       Action,Drama,Family
6059217     NaN            NaN   Animation,Comedy,Family
6059218     NaN            NaN       Action,Drama,Family
6059219     NaN            NaN       Action,Drama,Family
6059220     NaN            NaN       Action,Drama,Family
6059221     NaN            NaN       Action,Drama,Family
6059222     NaN            NaN       Action,Drama,Family
6059223     NaN            NaN       Action,Drama,Family
6059224     NaN             27                     Short
6059225     NaN            NaN   Animation,Comedy,Family

[6059226 rows x 9 columns]

Converting variable to float

In [169]:
title_basics1['startYear1'] = title_basics1['startYear'].astype(float) #convert birth year to float
title_basics1['endYear1'] = title_basics1['endYear'].astype(float) #convert birth year to float
#title_basics1['runtimeMinutes1'] = title_basics1['runtimeMinutes'].astype(float) #can't convert birth year to float

title_basics1.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear          object
endYear            object
runtimeMinutes     object
genres             object
startYear1        float64
endYear1          float64
dtype: object

Creating 2 new variables based on startYear and endYear

In [170]:
title_basics1['year_release'] = 2019 - title_basics1['startYear1']
title_basics1['years_end'] = 2019 - title_basics1['endYear1']

title_basics2 = title_basics1.drop(['startYear','endYear','startYear1', 'endYear1'], axis=1)
print title_basics2

            tconst  titleType                                   primaryTitle  \
0        tt0000001      short                                     Carmencita
1        tt0000002      short                         Le clown et ses chiens
2        tt0000003      short                                 Pauvre Pierrot
3        tt0000004      short                                    Un bon bock
4        tt0000005      short                               Blacksmith Scene
5        tt0000006      short                              Chinese Opium Den
6        tt0000007      short    Corbett and Courtney Before the Kinetograph
7        tt0000008      short         Edison Kinetoscopic Record of a Sneeze
8        tt0000009      movie                                     Miss Jerry
9        tt0000010      short                            Exiting the Factory
10       tt0000011      short                        Akrobatisches Potpourri
11       tt0000012      short                         The Arrival of a Train
12       tt0000013      short    The Photographical Congress Arrives in Lyon
13       tt0000014      short                        The Sprinkler Sprinkled
14       tt0000015      short                            Autour d'une cabine
15       tt0000016      short                         Barque sortant du port
16       tt0000017      short                       Italienischer Bauerntanz
17       tt0000018      short                           Das boxende Känguruh
18       tt0000019      short                               The Clown Barber
19       tt0000020      short                                 The Derby 1895
20       tt0000022      short                               Blacksmith Scene
21       tt0000023      short                                        The Sea
22       tt0000024      short                      Opening of the Kiel Canal
23       tt0000025      short  The Oxford and Cambridge University Boat Race
24       tt0000026      short                  The Messers. Lumière at Cards
25       tt0000027      short                     Cordeliers' Square in Lyon
26       tt0000028      short                           Fishing for Goldfish
27       tt0000029      short                                  Baby's Dinner
28       tt0000030      short                             Rough Sea at Dover
29       tt0000031      short                            Jumping the Blanket
...            ...        ...                                            ...
6059196  tt9916796  tvEpisode                                  Episode #2.34
6059197  tt9916798  tvEpisode                                  Episode #2.36
6059198  tt9916800  tvEpisode                                  Episode #2.35
6059199  tt9916802  tvEpisode                                   Luc Janssens
6059200  tt9916804  tvEpisode                                  Episode #2.37
6059201  tt9916806  tvEpisode                                   Episode #3.1
6059202  tt9916808  tvEpisode                                   Episode #3.2
6059203  tt9916810  tvEpisode                   Danira Boukhriss Terkessidis
6059204  tt9916812  tvEpisode                                   Episode #3.3
6059205  tt9916814  tvEpisode                                   Episode #3.4
6059206  tt9916816  tvEpisode                                   Episode #3.5
6059207  tt9916818  tvEpisode                                   Episode #3.6
6059208  tt9916820  tvEpisode                                   Episode #3.7
6059209  tt9916822  tvEpisode                                   Episode #3.8
6059210  tt9916824  tvEpisode                                   Episode #3.9
6059211  tt9916826  tvEpisode                                  Episode #3.10
6059212  tt9916830  tvEpisode                                   Episode #2.6
6059213  tt9916832  tvEpisode                                  Episode #3.11
6059214  tt9916834  tvEpisode                                  Episode #3.12
6059215  tt9916836  tvEpisode                                  Episode #3.14
6059216  tt9916838  tvEpisode                                  Episode #3.13
6059217  tt9916840  tvEpisode                     Horrid Henry's Comic Caper
6059218  tt9916842  tvEpisode                                  Episode #3.16
6059219  tt9916844  tvEpisode                                  Episode #3.15
6059220  tt9916846  tvEpisode                                  Episode #3.18
6059221  tt9916848  tvEpisode                                  Episode #3.17
6059222  tt9916850  tvEpisode                                  Episode #3.19
6059223  tt9916852  tvEpisode                                  Episode #3.20
6059224  tt9916856      short                                       The Wind
6059225  tt9916880  tvEpisode                      Horrid Henry Knows It All

                                             originalTitle  isAdult  \
0                                               Carmencita        0
1                                   Le clown et ses chiens        0
2                                           Pauvre Pierrot        0
3                                              Un bon bock        0
4                                         Blacksmith Scene        0
5                                        Chinese Opium Den        0
6              Corbett and Courtney Before the Kinetograph        0
7                   Edison Kinetoscopic Record of a Sneeze        0
8                                               Miss Jerry        0
9                      La sortie de l'usine Lumière à Lyon        0
10                                 Akrobatisches Potpourri        0
11                        L'arrivée d'un train à La Ciotat        0
12       Neuville-sur-Saône: Débarquement du congrès de...        0
13                                       L'arroseur arrosé        0
14                                     Autour d'une cabine        0
15                                  Barque sortant du port        0
16                                Italienischer Bauerntanz        0
17                                    Das boxende Känguruh        0
18                                        The Clown Barber        0
19                                          The Derby 1895        0
20                                           Les forgerons        0
21                                         Baignade en mer        0
22                               Opening of the Kiel Canal        0
23           The Oxford and Cambridge University Boat Race        0
24                                         Partie d'écarté        0
25                             Place des Cordeliers à Lyon        0
26                            La pêche aux poissons rouges        0
27                                           Repas de bébé        0
28                                      Rough Sea at Dover        0
29                                 Le saut à la couverture        0
...                                                    ...      ...
6059196                                      Episode #2.34        0
6059197                                      Episode #2.36        0
6059198                                      Episode #2.35        0
6059199                                       Luc Janssens        0
6059200                                      Episode #2.37        0
6059201                                       Episode #3.1        0
6059202                                       Episode #3.2        0
6059203                       Danira Boukhriss Terkessidis        0
6059204                                       Episode #3.3        0
6059205                                       Episode #3.4        0
6059206                                       Episode #3.5        0
6059207                                       Episode #3.6        0
6059208                                       Episode #3.7        0
6059209                                       Episode #3.8        0
6059210                                       Episode #3.9        0
6059211                                      Episode #3.10        0
6059212                                       Episode #2.6        0
6059213                                      Episode #3.11        0
6059214                                      Episode #3.12        0
6059215                                      Episode #3.14        0
6059216                                      Episode #3.13        0
6059217                         Horrid Henry's Comic Caper        0
6059218                                      Episode #3.16        0
6059219                                      Episode #3.15        0
6059220                                      Episode #3.18        0
6059221                                      Episode #3.17        0
6059222                                      Episode #3.19        0
6059223                                      Episode #3.20        0
6059224                                           The Wind        0
6059225                          Horrid Henry Knows It All        0

        runtimeMinutes                    genres  year_release  years_end
0                    1         Documentary,Short         125.0        NaN
1                    5           Animation,Short         127.0        NaN
2                    4  Animation,Comedy,Romance         127.0        NaN
3                  NaN           Animation,Short         127.0        NaN
4                    1              Comedy,Short         126.0        NaN
5                    1                     Short         125.0        NaN
6                    1               Short,Sport         125.0        NaN
7                    1         Documentary,Short         125.0        NaN
8                   45                   Romance         125.0        NaN
9                    1         Documentary,Short         124.0        NaN
10                   1         Documentary,Short         124.0        NaN
11                   1  Action,Documentary,Short         123.0        NaN
12                   1         Documentary,Short         124.0        NaN
13                   1              Comedy,Short         124.0        NaN
14                   2           Animation,Short         125.0        NaN
15                   1         Documentary,Short         124.0        NaN
16                   1         Documentary,Short         124.0        NaN
17                   1                     Short         124.0        NaN
18                 NaN              Comedy,Short         121.0        NaN
19                   1   Documentary,Short,Sport         124.0        NaN
20                   1         Documentary,Short         124.0        NaN
21                   1         Documentary,Short         124.0        NaN
22                 NaN                News,Short         124.0        NaN
23                 NaN          News,Short,Sport         124.0        NaN
24                   1         Documentary,Short         123.0        NaN
25                   1         Documentary,Short         124.0        NaN
26                   1         Documentary,Short         124.0        NaN
27                   1         Documentary,Short         124.0        NaN
28                   1         Documentary,Short         124.0        NaN
29                   1         Documentary,Short         124.0        NaN
...                ...                       ...           ...        ...
6059196            NaN       Action,Drama,Family          10.0        NaN
6059197            NaN       Action,Drama,Family          10.0        NaN
6059198            NaN       Action,Drama,Family          10.0        NaN
6059199            NaN     Comedy,News,Talk-Show           0.0        NaN
6059200            NaN       Action,Drama,Family          10.0        NaN
6059201            NaN       Action,Drama,Family           9.0        NaN
6059202            NaN       Action,Drama,Family           9.0        NaN
6059203            NaN     Comedy,News,Talk-Show           0.0        NaN
6059204            NaN       Action,Drama,Family           9.0        NaN
6059205            NaN       Action,Drama,Family           9.0        NaN
6059206            NaN       Action,Drama,Family           9.0        NaN
6059207            NaN       Action,Drama,Family           9.0        NaN
6059208            NaN       Action,Drama,Family           9.0        NaN
6059209            NaN       Action,Drama,Family           9.0        NaN
6059210            NaN       Action,Drama,Family           9.0        NaN
6059211            NaN       Action,Drama,Family           9.0        NaN
6059212            NaN                 Game-Show          46.0        NaN
6059213            NaN       Action,Drama,Family           9.0        NaN
6059214            NaN       Action,Drama,Family           9.0        NaN
6059215            NaN       Action,Drama,Family           9.0        NaN
6059216            NaN       Action,Drama,Family           9.0        NaN
6059217            NaN   Animation,Comedy,Family           5.0        NaN
6059218            NaN       Action,Drama,Family           9.0        NaN
6059219            NaN       Action,Drama,Family           9.0        NaN
6059220            NaN       Action,Drama,Family           9.0        NaN
6059221            NaN       Action,Drama,Family           9.0        NaN
6059222            NaN       Action,Drama,Family           9.0        NaN
6059223            NaN       Action,Drama,Family           9.0        NaN
6059224             27                     Short           4.0        NaN
6059225            NaN   Animation,Comedy,Family           5.0        NaN

[6059226 rows x 9 columns]

In [149]:
title_basics2['genres'].value_counts()

Drama                          564887
Comedy                         448409
Documentary                    300680
Talk-Show                      297673
Drama,Romance                  280391
News                           218089
Reality-TV                     189725
Adult                          160714
Short                          136694
Drama,Short                    132715
Comedy,Short                   113521
Documentary,Short               99709
Game-Show                       96104
Family                          94910
News,Talk-Show                  81829
Music                           75568
Sport                           63481
Comedy,Drama,Romance            59662
Comedy,Talk-Show                57481
Comedy,Drama                    54273
Romance                         52230
Music,Short                     51835
Animation                       48432
Crime,Drama                     35657
Crime                           35189
Action,Adventure,Animation      34589
Animation,Comedy,Family         33998
Comedy,Music,Talk-Show          33713
Crime,Drama,Mystery             32785
Comedy,Family                   31152
                                ...
Crime,Documentary,Musical           1
Action,Music,War                    1
Music,Musical,Sport                 1
Adult,Horror,Music                  1
Comedy,Mystery,Sport                1
Adventure,Biography,Sport           1
Romance,Thriller,Western            1
Crime,Film-Noir                     1
Biography,Thriller,Western          1
Adult,Musical,Short                 1
Action,Documentary,Thriller         1
Music,Romance,Thriller              1
Family,Sci-Fi,Sport                 1
Adventure,News,Talk-Show            1
Crime,History,Music                 1
Action,Adult,Sport                  1
Action,Adult,War                    1
Action,Adult,Documentary            1
Family,Musical,News                 1
Crime,Fantasy,Musical               1
Game-Show,Music,Short               1
Documentary,Fantasy,Western         1
Adventure,History,Sport             1
News,Romance                        1
Mystery,Sport,Western               1
Adventure,Film-Noir,Romance         1
Adventure,Horror,War                1
Animation,Music,Thriller            1
Adult,Animation,Musical             1
Film-Noir                           1
Name: genres, Length: 2224, dtype: int64

Replacing the missing values by the most common value

In [171]:
title_basics2['titleType'].fillna('tvEpisode', inplace=True) #
title_basics2['primaryTitle'].fillna('Episode #1.1', inplace=True) 
title_basics2['originalTitle'].fillna('Episode #1.1', inplace=True) 
title_basics2['runtimeMinutes'].fillna('30', inplace=True)  #one string value in the list "Animation,Family"
title_basics2['genres'].fillna('Drama', inplace=True)

# Merging tables

Merging all tables (base is title_ratings2)

In [224]:
title_ratings2 = title_ratings1.drop_duplicates(['tconst'])#dropping duplicates
title_crew2 = title_crew1.drop_duplicates(['tconst'])#dropping duplicates
title_akas2 = title_akas1.drop_duplicates(['tconst'])#dropping duplicates
title_episode2 = title_episode1.drop_duplicates(['tconst'])#dropping duplicates
Title_principals3 = Title_principals2.drop_duplicates(['tconst'])#dropping duplicates
name_basics3 = name_basics2.drop_duplicates(['tconst'])#dropping duplicates
title_basics3 = title_basics2.drop_duplicates(['tconst'])#dropping duplicates

In [187]:
Title_principals3.columns

Index([u'tconst', u'ordering', u'nconst', u'category', u'job', u'characters'], dtype='object')

Merge1

In [225]:
data1 = pd.merge(title_ratings2, title_crew2, on = 'tconst', how = 'left')
data1.shape

#title_akas2,title_episode2,name_basics3,Title_principals3,title_basics3

(958632, 5)

Merge2

In [227]:
data2 = pd.merge(data1, title_akas2, on = 'tconst', how = 'left')
data2.shape

(958632, 11)

Merge3

In [228]:
data3 = pd.merge(data2, title_episode2, on = 'tconst', how = 'left')
data3.shape

(958632, 14)

Merge4

In [229]:
data4 = pd.merge(data3, name_basics3, on = 'tconst', how = 'left')
data4.shape

(958632, 19)

Merge5

In [230]:
data5 = pd.merge(data4, Title_principals3, on = 'tconst', how = 'left')
data5.shape

(958632, 24)

Merge6

In [231]:
data6 = pd.merge(data5, title_basics3, on = 'tconst', how = 'left')
data6.shape

(958632, 32)